/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table-container{
    display:flex;
    flex-direction: column;
    flex:1;
    .title{
        display: flex;
    }
    table{
        width:100%;
        td{
            text-align: center;
            height: 32px;
        }
        .no-data-message{
            text-align: center;
        }
    }
}