:host{
    flex:1;
}
.table-container{
    display:flex;
    flex-direction: column;
    flex:1;
    .title{
        display: flex;
    }
    table{
        width:100%;
        td{
            text-align: center;
        }
        .no-data-message{
            text-align: center;
        }
    }
}
